doctype html
html
  head
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.5/material.blue-indigo.min.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet" href="/stylesheets/style.css")
  body
    block content

  script(src="https://storage.googleapis.com/code.getmdl.io/1.0.5/material.min.js")
  script(src='/javascripts/bundle.js')


